# +----------------------------------------------------------------
# | Configuration file for LibreForum application
# +-----------------------------------------------------------------
# Copy this file as .env and add specific configurations for your
# local system

# Specific to Symfony (within the php container)
APP_ENV='dev'
DATABASE_URL='mysql://user:password@mysql:3306/libreforum?serverVersion=8.4'
MAILER_DSN='smtp://mailhog:1025'

JWT_PASSPHRASE='put there your symfony jwt secret passphrase'

# Specific to llm / ollama within llm container
LLM_API='http://llm:8000'
OLLAMA_URL='http://ollama:11434'
OLLAMA_HOST='http://ollama:11434'

# Specific to React / Vite within the frontend container
# Vite config
VITE_HMR_HOST='localhost'
VITE_HMR_CLIENT_PORT='8443'

VITE_API_URL='https://localhost:8443/api'
VITE_API_BASE_URL='https://localhost:8443'

# Work arround for Linux (probably same for apple)
# to permit write access on specific docker volumes within a container
# Disable this two lines for Windows systems
# Put there your User id
UID=1000
# Put there your Group id
GID=100

# Specific to Mercure within the mercure container
## Internal docker-compose
MERCURE_URL='http://mercure/.well-known/mercure'
## External access url
VITE_MERCURE_PUBLIC_URL='https://localhost:8443/hub/.well-known/mercure'

## Access token
MERCURE_JWT_SECRET='put there your Mercure JWT secret token'
